<div class="row">
  <div class="col-12">

    <h2 style="text-align: center">Appliant List</h2>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let applicant of allApplicants">
        <tr>
          <td> {{applicant.name}}</td>
          <td>{{applicant.job_position}}</td>
          <td>
            <span *ngIf="applicant.hr_confirm_status === '1'">Sent Confirmation</span>
            <span *ngIf="applicant.hr_confirm_status === '0'">Reject</span>
            <span *ngIf="applicant.hr_confirm_status === 'None'">New Appliacnt</span>
            <span *ngIf="applicant.hr_confirm_status === ''">New Appliacnt</span>
          </td>
          <td>
            <span *ngIf="applicant.hr_confirm_status === 'None'">
              <button (click)="viewProfile(applicant)" type="button" class="btn btn-primary"
                style="margin-right: 10px">View Profile</button>
              <button (click)="confirm(applicant)" type="button" class="btn btn-success"
                style="margin-right: 10px">Confirm</button>
              <button (click)="decline(applicant)" type="button" class="btn btn-danger">Reject</button>
            </span>
            <span *ngIf="applicant.hr_confirm_status === ''">
              <button (click)="viewProfile(applicant)" type="button" class="btn btn-primary"
                style="margin-right: 10px">View Profile</button>
              <button (click)="confirm(applicant)" type="button" class="btn btn-success"
                style="margin-right: 10px">Confirm</button>
              <button (click)="decline(applicant)" type="button" class="btn btn-danger">Reject</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
